@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width:400px;
	height:350px;
	background: linear-gradient(to bottom,#e9da68 50%, #354868 50%);
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./img/giphy.gif);
  background-size: 300px;
  background-position: 35% 50%;
  background-repeat: no-repeat;
}

button{
  cursor: pointer;
  outline: none;
  width: 150px;
  height: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color:white;
  background: #ce9e82;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rbga(0,0,0,0.2);
}

button:hover{
  filter: brightness(95%);

}
button:active:{
  transform: scale(0.98);
}
button:disabled{
  cursor: default;
  filter: brightness(30%);
}
/* Media */
@media screen  and (max-width: 100px){
  .container{
    background-position: center center;
    background-size: cover;
  }
  button{
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}